html {
    background-color: rgb(37, 41, 50);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    padding: 30px 0;
    background-color: black;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .5);
}
header img {
    width: 200px;
    height: 50px;
    padding-left: 3em;
}

nav {
    display: flex;
    width: 80%;
    padding-left: 9em;

}

nav a {
    position: relative;
    padding-right: 2em;
    color: rgba(255, 255, 255, 0.83);
    text-decoration: none;
    font-size: 1.5em;
}

nav a:hover {
    color: white;
    text-decoration: none;
    font-size: 1.5em;

}
/*ARROW*/
ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 75em;

}

ul li {
    list-style: none;
    width: 75px;
    height: 65px;
    background: black;
    border-radius: 50%;
    transition: .5s;

}
ul li:hover {
    background: rgba(0, 0, 0, 0.73);
}
ul li span {
position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    transition: .5s;
}
ul li.next span {
    top: 50%;
    right: 33%;
    transform: translateY(-50%) rotate(45deg);
    border-left: none;
    border-top: none;
top: 77.2em;
}

#sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer {
    height: 10vw;
    width: 100%;
/*    background: linear-gradient(rgb(37, 41, 50), #0d0d0d);*/
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0;
    align-self: flex-end;
}

footer a {
    opacity: 100;
    text-decoration: none;
    color: #ababab;
   font-size: 1.5em;
   text-shadow: 0px 0px 0px;
   margin: 0;
   padding-top: 4.4em;
   padding-left: 1em;
    padding-right: 2em;

}
footer a:hover {
    opacity: 100;
    text-decoration: none;
    color: white;
   font-size: 1.5em;
    text-shadow: 0px 0px 0px;
    margin: 0;
    padding-top: 4.4em;
   padding-left: 1em;
}
#splash {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 8em;
    background-color: black;
}
#splash img {
    width: 80vw;
    height: 40vw;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
}
#text1 {
    padding-bottom: 2em;
    background-color: black;
    width: 100vw;
    text-align: center;
    margin-bottom: 2em;

}
#text1 p {
    margin-left: 2em;
    color: white;
    width: 650px;
        padding-left: 27vw;
}
h2 {
    color: white;
    font-family: arial;
    font-size: 2em;
    margin-bottom: 0;


}
#tema2_top {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 2em;
}
#tema2_top img {
    width: 700px;
    height: 450px;
}
#tema2_top img:hover {
    opacity: 0.7;
}

.text2 {
    width: 700px;
    padding-left: 5em;
    padding-top: 8em;
}

.text2 p {
    color: white;
    width: 600px;
}

/*TEMA " BUTTOM*/
#tema2_bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-right: 2em;
}
#tema2_bottom img {
    width: 700px;
    height: 450px;
}
#tema2_bottom img:hover {
    opacity: 0.7;
}

#text3 {
    width: 100vw;

}
#text3 h2 {
    text-align: center;
}

#text3 p{
    color: white;
    width: 700px;
    padding-left: 27vw;
}
#scrum_intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4em;
}

#scrum_intro img {
    width: 700px;
    height: 400px;
    padding: 2em;
}

#scrum_intro img:hover {
    opacity: 0.7;
}

#javascript p{
    color: white;
    width: 700px;
    padding-bottom: 2em;

}
#javascript img{
    width: 715px;
    padding-bottom: 2em;
}
#animations_links {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#animations_links h2 {
    padding-bottom: 1em;
}
#animations_links a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding-bottom: 1em;

}
#animations_links a:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 500px) {

    html {
        box-sizing: border-box;
    }
    header {
        box-sizing: border-box;
        width: 100vw;
    }

    nav a{
        padding-right: 0.5em;
        font-size: 0.6em;
    }
    header img {
        width: 75px;
        height: 20px;
        padding-left: 5px;
        padding-right: 10px;
    }
    nav {
        padding-left: 10px;
    }
                footer {
        height: 35vw;
        justify-content: flex-start;
    }
     footer a {
        font-size: 1em;
        padding-left: 2em;
    }
    #text1 p {
        width: 400px;
        padding: 0;
        margin: 0;
        padding-top: 1em;
    }
    #splash img {
        width: 90vw;
        height: 50vw;
    }
    h2 {
        font-size: 1.6em;
    }
            ul {
        padding-top: 23em;
    }
    ul li.next span {
        top: 25.5em;
    }
    #tema2_top {
        padding-left: 0;
        width: 100vw;
    }
    #tema2_top img {
        width: 400px;
        height: 300px;
        padding-left: 7px;
    }
    .text2 {
        width: 100vw;
        padding: 0;
    }
    .text2 p {
        width: 400px;
        padding-left: 7px;
    }
    .text2 h2 {
        padding-left: 7px;
    }
    #tema2_bottom {
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    #tema2_bottom img {
        width: 400px;
        height: 300px;
        padding-right: 0.5em;
    }
    #text3 p {
        padding: 0;
        width: 400px;
        padding-left: 7px;
    }
    #text3 h2 {
        text-align: inherit;
        padding-left: 7px;
    }
    #scrum_intro img {
        width: 400px;
        height: 300px;
        padding: 0;
    }
    #javascript {
        width: 100vw;
    }
    #javascript p {
        width: 400px;
        padding-left: 7px;
    }
    #javascript h2 {
        padding-left: 7px;
    }
    #javascript img {
        width: 400px;
        height: 300px;
        padding-left: 7px;
    }
    #animations_links a {
        text-align: center;
    }
        #splash {
        padding-top: 5em;
    }
}

@media screen and (max-width: 1440px) and (min-width: 500px) {
    ul {
        padding-top: 60em;
    }
    ul li.next span {
        top: 62.5em;
    }
        #tema2_top {
        flex-wrap: nowrap;
    }
    #tema2_bottom {
        flex-wrap: nowrap;
    }
}
