html {
    background-color: rgb(37, 41, 50);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    padding: 30px 0;
    background-color: black;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .5);
}
header img {
    width: 200px;
    height: 50px;
    padding-left: 3em;
}

nav {
    display: flex;
    width: 80%;
    padding-left: 9em;

}

nav a {
    position: relative;
    padding-right: 2em;
    color: rgba(255, 255, 255, 0.83);
    text-decoration: none;
    font-size: 1.5em;
}

nav a:hover {
    color: white;
    text-decoration: none;
    font-size: 1.5em;

}
#sectionwrapper {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#text1 {
    padding-bottom: 2em;
    background-color: black;
    width: 100vw;

}
#text2 h2 {
    padding-left: 6.4em;
}
#text2 {
    width: 600px;
    padding-top: 7em;
    padding-left: 4em;
}
#text2 p {
    margin-left: 2em;
    color: white;

}
#text3 {
     width: 600px;
    padding-top: 7em;
    padding-left: 4em;
}
#text3 p {
        margin-left: 2em;
    color: white;
}
#text3 h2 {
    padding: 0;
    padding-left: 4.5em
}
#img2 {
    padding-top: 2em;
    margin: 0;
}

#top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#top p {
    color: white;
    width: 600px;
    padding-left: 30vw;
    text-align: center;

}

h2 {
    color: white;
    font-family: arial;
    font-size: 2em;
    margin-bottom: 0;
    padding-left: 44vw;

}

img {
    width: 35vw;
    height: 35vw;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);

}

#tema1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
}
#tema1 img {
    width: 53.2vw;
    height: 30vw;
}

#tema1 a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding-left: 47vw;
}


/*KODE TIL MODAL*/

.open_modal{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#splash {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 8em;
    background-color: black;
}
#splash img {
    width: 80vw;
    height: 40vw;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
}

.open_modal:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.show {
    display: block;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100vw;
    width: 80vw;
    height: 40vw;
    height: 100%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
        height: 100%;
    }
}

footer {
    height: 10vw;
    width: 100%;
/*    background: linear-gradient(rgb(37, 41, 50), #0d0d0d);*/
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0;
    align-self: flex-end;
}

footer a {
    opacity: 100;
    text-decoration: none;
    color: #ababab;
   font-size: 1.5em;
   text-shadow: 0px 0px 0px;
   margin: 0;
   padding-top: 4.4em;
   padding-left: 1em;
    padding-right: 2em;

}
footer a:hover {
    opacity: 100;
    text-decoration: none;
    color: white;
   font-size: 1.5em;
    text-shadow: 0px 0px 0px;
    margin: 0;
    padding-top: 4.4em;
   padding-left: 1em;
}

/*ARROW*/
ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 72em;

}

ul li {
    list-style: none;
    width: 75px;
    height: 65px;
    background: black;
    border-radius: 50%;
    transition: .5s;

}
ul li:hover {
    background: rgba(0, 0, 0, 0.73);
}
ul li span {
position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    transition: .5s;
}
ul li.next span {
    top: 50%;
    right: 33%;
    transform: translateY(-50%) rotate(45deg);
    border-left: none;
    border-top: none;
top: 74.2em;
}

#link_img img {
    width: 250px;
    height: 50px;
    padding: 2em;
    box-shadow: 0px 0px 0px;
}
#splash_process h2 {
    padding: 0;
    padding-top: 3em;
}
#splash_process p {
    width: 625px;
    color: white;
}
#splash_process img {
    width: 700px;
    height: 500px;
    margin-top: 2em;
}

#text4 p{
    padding-top: 4em;
    color: white;
    width: 850px;
}
#text4 img{
        width: 300px;
    height: 60px;
    padding: 2em 2em 2em 16em;
    box-shadow: 0px 0px 0px;
}

@media only screen and (max-width: 500px) {

    html {
        box-sizing: border-box;
    }
    header {
        box-sizing: border-box;
        width: 100vw;
    }

    nav a{
        padding-right: 0.5em;
        font-size: 0.6em;
    }
    header img {
        width: 75px;
        height: 20px;
        padding-left: 5px;
        padding-right: 10px;
    }
    nav {
        padding-left: 10px;
    }
    #top p {
        width: 400px;
        padding-left: 5px;
    }
    #text1 h2 {
        padding-left: 32vw;
    }
    #splash img {
        width: 90vw;
        height: 50vw;
    }
    ul {
        padding-top: 25em;
    }
    ul li.next span {
        top: 27.2em;
    }
    p {
        width: 400px;
    }
    #stilart {
        width: 100vw;
    }
            footer {
        height: 35vw;
        justify-content: flex-start;
    }
     footer a {
        font-size: 1em;
        padding-left: 2em;
    }
    #text2 {
        width: 100vw;
        padding: 0;
    }
    #text2 p {
        margin: 0;
        margin-left: 5px;
    }
    #text3 {
        width: 100vw;
        padding: 0;
    }
    #text3 p {
        margin: 0;
        margin-left: 5px;
    }
    #text4 {
        width: 100vw;
        padding: 0;
    }
    #splash_process p {
        width: 400px;
        margin-left: 10px;
    }
    #splash_process img {
        width: 400px;
        height: 400px;
        padding-left: 7px;
    }
    #text4 p {
        width: 400px;
        padding-left: 10px;
    }
    #text4 img {
        padding: 0;
        padding-left: 3.5em;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    #tema1 img {
        width: 80vw;
        height: 50vw;
        margin-left: 2.5em;
    }
    #text2 h2 {
        padding-left: 4em;
    }
    #text3 h2 {
        padding-left: 1.5em;
    }
    #link_img img {
        width: 150px;
        height: 40px;
        padding: 1em;
    }
    #splash_process h2 {
        padding-left: 0.5em;

    }

}
